<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BetScoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,40},{320,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,39}}</string>
                <key>sourceSize</key>
                <string>{320,39}</string>
            </dict>
            <key>BetTimeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>BetTimeBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>BtnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,683},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>BtnOtherPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,576},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>BtnPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,469},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>BtnRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,362},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>JettonBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,44},{1122,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1122,21}}</string>
                <key>sourceSize</key>
                <string>{1122,21}</string>
            </dict>
            <key>MenuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{348,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,565}}</string>
                <key>sourceSize</key>
                <string>{348,565}</string>
            </dict>
            <key>MostBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,790},{209,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{209,88}}</string>
                <key>sourceSize</key>
                <string>{221,94}</string>
            </dict>
            <key>MostWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{221,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,94}}</string>
                <key>sourceSize</key>
                <string>{221,94}</string>
            </dict>
            <key>UserInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,136}}</string>
                <key>sourceSize</key>
                <string>{425,136}</string>
            </dict>
            <key>UserInfoListBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{170,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,197}}</string>
                <key>sourceSize</key>
                <string>{170,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BetGameUI.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a31c0e3689c48b6b9dd9a97fd71b9d8$</string>
            <key>textureFileName</key>
            <string>BetGameUI.png</string>
        </dict>
    </dict>
</plist>
