<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1173},{138,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,68}}</string>
                <key>sourceSize</key>
                <string>{138,68}</string>
            </dict>
            <key>allbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,742},{225,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,109}}</string>
                <key>sourceSize</key>
                <string>{225,109}</string>
            </dict>
            <key>allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,271},{237,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,116}}</string>
                <key>sourceSize</key>
                <string>{237,116}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1255,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,125}}</string>
                <key>sourceSize</key>
                <string>{1255,125}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,290},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,271},{237,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,116}}</string>
                <key>sourceSize</key>
                <string>{237,116}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{533,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,324}}</string>
                <key>sourceSize</key>
                <string>{533,324}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,868},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,868},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>comp.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,153},{135,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,108}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>complabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,290},{96,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,43}}</string>
                <key>sourceSize</key>
                <string>{96,43}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,873},{183,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,62}}</string>
                <key>sourceSize</key>
                <string>{183,62}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>flowerlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1183},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>give.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,728},{138,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,68}}</string>
                <key>sourceSize</key>
                <string>{138,68}</string>
            </dict>
            <key>givelabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,683},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{267,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,116}}</string>
                <key>sourceSize</key>
                <string>{267,116}</string>
            </dict>
            <key>goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,683},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1794},{170,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,226}}</string>
                <key>sourceSize</key>
                <string>{170,226}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,135},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>hehe.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,618},{227,63}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,117},{227,63}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>know.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,969},{213,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,86}}</string>
                <key>sourceSize</key>
                <string>{213,86}</string>
            </dict>
            <key>look.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,510},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,733},{138,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,175}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>send.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{149,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,94}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1057},{170,114}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{170,114}}</string>
                <key>sourceSize</key>
                <string>{188,126}</string>
            </dict>
            <key>type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1057},{146,124}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{146,124}}</string>
                <key>sourceSize</key>
                <string>{188,126}</string>
            </dict>
            <key>type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,510},{184,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{184,106}}</string>
                <key>sourceSize</key>
                <string>{188,126}</string>
            </dict>
            <key>type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,937},{146,108}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{146,108}}</string>
                <key>sourceSize</key>
                <string>{188,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZJH.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd5273ae117859259e674d0603c71f02$</string>
            <key>textureFileName</key>
            <string>ZJH.png</string>
        </dict>
    </dict>
</plist>
